* {
    padding: 0%;
    margin: 0;
}


/* nav Section Start */

.logoIcon span:nth-child(1) {
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--green-color);
    line-height: 38px;
}

.nav-link:hover {
    color: var(--black-color);
}

.signin-btn {
    background: var(--green-color);
    border-radius: 25px;
    color: var(--white-color);
    font-weight: 500;
    width: 100px;
    border: none;
}

.signin-btn:hover {
    background-color: var(--green-color);
    color: var(--white-color);
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    filter: invert(0.3);
}

/* Nav Section End */

/* Sign In Section */

.signup-btn {
    background-color: var(--green-color);
    color: var(--white-color);
    cursor: pointer;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    width: 100px;
}

.signup-btn:hover {
    background-color: var(--dark-green-color);
    color: var(--white-smoke-color);
}